html, body, .container {
    height: 100%;
}

h1,h2,h3,h4,h5,h6 {
    color: rgba(0, 0, 0, 0.6);
}

.text-primary {
    color: #FD894CFF !important;
}

form {
    width: 75%;
}

.dimgrey {
    color: dimgrey;
}

a, label {
    color: dimgrey;
}

.btn {
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}
.btn-primary {
    background: rgb(253,137,86) !important;
    background: linear-gradient(90deg, rgb(253, 137, 76) 0%, rgba(252,183,132,1) 100%) !important;

}

.aura-naranja {
    box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
    -webkit-box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
    -moz-box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
}

.btn-primary:hover {
    background: rgb(253,137,86) !important;
    background: linear-gradient(90deg, rgb(253, 137, 76) 0%, rgba(252,183,132,1) 100%) !important;
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}

.btn-secondary {
    background: #2A7AB0 !important;
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}

input:not(.file), textarea{
    border-radius: 50px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.accordion-button:focus{
    border-color: rgba(253,137,86, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(253,137,86, 0.6);
    outline: 0 none;
}

.navbar {
    height: 65px;
    padding-top: 2px;
}
.navbar a {
    flex: 1 1 0px;
    height: 100%;
}

.fuente-menu{
    font-size: 0.8em;
    position: relative;
    top: -5px;
}
.icono {
    font-size: 1.8em;
    vertical-align: bottom;
}

nav.navbar {
    padding-bottom: 0px !important;
}

.router-link-active {
    color: #DA7540 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.mb-75 {
    margin-bottom: 75px;
}

.fs-6 {
    font-size: 1rem;
}

.fs-7 {
    font-size: 1.3rem;
}

.fs-8 {
    font-size: 1.5rem;
}

.fs-9 {
    font-size: 2rem;
}

.fs-10 {
    font-size: 3rem;
}

.fs-090 {
    font-size: 0.90rem;
}

.fs-085 {
    font-size: 0.85rem;
}

.fs-080 {
    font-size: 0.80rem;
}

.fs-075 {
    font-size: 0.75rem;
}

.fs-070 {
    font-size: 0.70rem;
}

.fs-05 {
    font-size: 0.5rem;
}

.fs-025 {
    font-size: 0.25rem;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
