html, body, .container {
    height: 100%;
}

.container > div {
    padding-bottom: 125px;
}

h1,h2,h3,h4,h5,h6 {
    color: rgba(0, 0, 0, 0.6);
}

.text-primary {
    color: #FD894CFF !important;
}

.dimgrey {
    color: dimgrey;
}

a, label {
    color: dimgrey;
}

.btn {
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}
.btn-primary {
    background: rgb(253,137,86) !important;
    background: linear-gradient(90deg, rgb(253, 137, 76) 0%, rgba(252,183,132,1) 100%) !important;

}

.aura-naranja {
    box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
    -webkit-box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
    -moz-box-shadow: -2px 0px 149px 21px rgba(253,137,76,1);
}

.btn-primary:hover {
    background: rgb(253,137,86) !important;
    background: linear-gradient(90deg, rgb(253, 137, 76) 0%, rgba(252,183,132,1) 100%) !important;
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}

.btn-secondary {
    background: #2A7AB0 !important;
    color: #FFFFFF !important;
    border-radius: 25px;
    border: none !important;
}

input:not(.file), textarea{
    border-radius: 50px !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(253,137,86, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(253,137,86, 0.6);
    outline: 0 none;
}

.navbar {
    height: 65px;
    padding-top: 2px;
}
.navbar a {
    flex: 1 1 0px;
    height: 100%;
}

.fuente-menu{
    font-size: 0.8em;
    position: relative;
    top: -5px;
}
.icono {
    font-size: 1.8em;
    vertical-align: bottom;
}

nav.navbar {
    padding-bottom: 0px !important;
}

.router-link-active {
    color: #DA7540 !important;
}

.fondo-decimo-ajustes {
    background-color: #FFFFFFDD !important;
}

.panel-opciones {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
}

.panel-opciones-oculto {
    visibility: visible;
    animation: FadeOutFordward 1s ease 0s 1 normal forwards;
}

.panel-opciones-visible {
    visibility: visible;
    animation: fadeInFromLeft 1s ease 0s 1 normal forwards;
}

@keyframes FadeOutFordward {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.cursor-pointer {
    cursor: pointer;
}

.fs-6 {
    font-size: 1rem;
}

.fs-7 {
    font-size: 1.3rem;
}

.fs-8 {
    font-size: 1.5rem;
}

.fs-9 {
    font-size: 2rem;
}

.fs-10 {
    font-size: 3rem;
}

.girando {
    animation-name: spin;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.login-logo {
    margin-top: -50px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.mb-75 {
    margin-bottom: 75px;
}

